<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <button class="btn btn-success" add-wares >增加</button>
                    </div>
                </div>
                <div class="panel body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>名称</td>
                                <td>价格</td>
                                <td>图片</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ware in wares">
                                <td>{{ware.name}}</td>
                                <td>{{ware.price}}</td>
                                <td><img style="width:100px;height:80px" src="{{ware.img}}" alt=""/></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>增加商品</h4>
            </div>
            <div class="modal-body">
                <form action="" role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ware.name" id="name" placeholder="商品名称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ware.price" id="price" placeholder="商品价格"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="img" class="col-sm-2 control-label">图片</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ware.img" id="img" placeholder="商品图片"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="save()" data-dismiss="modal">确定</button>
                <button class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>